<!-- <form #cform="ngForm" (ngSubmit)="submit(cform)">
  <div class="form-group">
    <label for="course">Course: </label>
    <input id="course" type="text" class="form-control"
    ngModel name="course"
    #course="ngModel"
    (change)="log(course)"
    required
    minlength= "5"
    maxlength="15"  >
    <div class="alert alert-danger" *ngIf="!course.valid && course.touched">
    <div *ngIf="course.errors.required">
      Course name is required.
    </div>
    <div *ngIf="course.errors.minlength">
      Course length should be more than {{course.errors.minlength.requiredLength}}.
    </div>
  </div>
</div>


<div class="form-group">
  <label for="courseMethod">Category</label>
  <select id="courseMethod" class="form-control" ngModel name="courseMethod">
    <option value=""></option>
    <option *ngFor="let cor of courseMethods" [value]="cor.id">{{cor.name}}</option>
  </select>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" ngModel name="isSubscribed">30-day money-back guarantee
  </label>
</div>
<p>{{cform.value | json}}</p>
<button type="button" class="btn btn-primary" [disabled]="!cform.valid">Submit</button>
</form> -->



<form #cform="ngForm"  (ngSubmit)="submit(cform)">

  <div class="form-group">

    <label for="course">Course: </label>

    <input     id="course"

   type="text"

   class="form-control"

    ngModel name="course"

    #course="ngModel"

    (change)="log(course)"

    required

    minlength= "5"

    maxlength="15"  >

    <div class="alert alert-danger" *ngIf="!course.valid && course.touched">

    <div *ngIf="course.errors.required">

      Course name is required.

    </div>

    <div *ngIf="course.errors.minlength">

      Course length should be more than {{course.errors.minlength.requiredLength}}.

    </div>

  </div>

</div>

<div class="form-group">

  <label for="courseType">Category</label>

  <select id="courseType" class="form-control" ngModel name="courseType">

    <option value=""></option>

    <option *ngFor="let cor of courseMethods" [value]="cor.id">{{cor.name}}</option>

  </select>

</div>

<div class="checkbox">

  <label>

    <input type="checkbox" ngModel name="isSubscribed">30-day money-back guarantee

  </label>

</div>

<p>{{cform.value | json}}</p>

<button type="button" class="btn btn-primary" [disabled]="!cform.valid">Submit</button>

</form>
